.profile-cont {
  margin: auto;
}

.profile-cont hr {
  height: 1px;
  border: none;
  background-color: gray;
  width: 70%;
  margin: auto;
}

.uploads {
  display: flex;
  margin: 1rem 0px 1.7rem 0px;
}

.uploads div {
  margin: auto;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  height: 2rem;
  width: 9.6rem;
  text-align: center;

  cursor: pointer;
}

.uploads div span {
  text-align: center;
  white-space: nowrap;
}
