.view-post-con {
  margin: 0.8rem auto 0 auto;
  width: 56rem;
}

.view-post-con .view-post-act {
  border-bottom: 1px solid gray;
}

.view-post-act .like-act-con,
.comment-logo {
  width: 50%;
  display: flex;
  margin: 0.4rem 0 0.4rem 0;
  justify-content: center;
  gap: 0.5rem;
}

.comment-list-viewpost {
  padding: 12px 12px 0px 12px;
  max-height: 300px;
  overflow: auto;
  padding: 12px;
}

/* comment fetcher element */

.viewPost-comment-fetcher {
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-top: -8px;
  margin-right: 12px;
  padding: 0;
}

.viewPost-comment-fetcher span {
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: underline;
}
