.view-post-modal {
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);
}

.view-post-modal-dialog {
  margin: auto;
  top: 4rem;
}

.view-post-modal-dialog .view-post-modal-content {
  min-height: 20rem;
}

.view-post-modal-header {
  height: 40px;
}

.view-post-modal-header h5 {
  margin: 0 auto 0 auto;
}

.view-post-modal-header button {
  position: absolute;
  right: 12px;
}

.view-post-modal-body {
  padding: 2px;
}

.post-modal-content-data {
  display: flex;
  justify-content: space-between;
  margin: 6px;
}

.post-modal-content-data .post-modal-profile-data {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  gap: 0.5rem;
}

.post-modal-profile-data img {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  width: 2.3rem;
  height: 2.3rem;
  box-sizing: border-box;
  display: block;
  object-fit: cover;
  border-radius: 12px;
}

.post-modal-content-data .post-modal-name-date {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.post-modal-name-date h3 {
  font-family: "Poppins", sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.2rem;
}

.post-modal-name-date span {
  font-size: 0.7rem;
}

.post-modal-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  height: 100%;
  width: 100%;
}

.post-modal-image-container img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 90vh;
}

.post-modal-content-data .post-modal-act {
  display: flex;
  gap: 20px;
}

.post-modal-content-data .post-modal-act button {
  color: #3399ff;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399ff;
  border-radius: 3px;
  width: 80px;
  height: 25px;
  cursor: pointer;
}

/* follow animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.post-modal-act #followed {
  color: green;
  font-family: "Helvetica";
  font-size: 10pt;
  font-weight: bolder;
  background-color: #ffffff;
  border: 3px solid green;
  border-radius: 3px;
  width: 80px;
  height: 25px;
  cursor: pointer;

  animation: fadeOut 2s ease-out forwards;
}

/* content */
.view-post-modal-data .post-modal-text-content {
  padding: 4px 12px 12px 12px;
  text-align: left;
}

.view-post-modal-data .post-modal-counter {
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 1rem;
  width: 45rem;
}

.post-modal-counter span {
  font-size: 0.8rem;
}

.view-post-modal-data .post-modal-action-cont {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 0 auto 0.2rem auto;
  gap: 6px;
  width: 45rem;
}

.post-modal-action-cont .like-act-con,
.comment-logo {
  width: 50%;
  display: flex;
  margin: 0.4rem 0 0.4rem 0;
  justify-content: center;
  gap: 0.5rem;
}
.like-act-con .filled-icon,
#like-text {
  font-variation-settings: "FILL" 1;
  color: blue;
  font-weight: bold;
}

.comment-list-container {
  max-height: 300px;
  overflow: auto;
  padding: 12px;
}

.comment-loading-flag {
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-cont {
  display: flex;
  padding: 6px 6px 6px 12px;
  gap: 0.5rem;

  width: auto;
  border-radius: 18px;
}

.comment-cont img {
  height: 1.9rem;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  width: 1.9rem;
  border-radius: 100%;
  margin: 0.3rem 0 0 0;
  padding: 0;
  object-fit: cover;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.comment-content #comment-date {
  font-size: 0.5rem;
  text-align: left;
  margin-left: 0.4rem;
}

.comment-cont .info-content {
  display: flex;
  flex-direction: column;
  background-color: #e9e3e3;
  text-align: left;
  padding: 0.5rem;
  border-radius: 12px;
}

.info-content h5 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.info-content span {
  font-size: 0.9rem;
}

.comment-con-inputs {
  margin: 3px;
  display: flex;
  gap: 0.5rem;
}

.comment-con-inputs .post-modal-profile img {
  height: 1.9rem;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  width: 1.9rem;
  border-radius: 100%;
  margin: 0.3rem 0 0 0;
  padding: 0;
  object-fit: cover;
}

.comment-con-inputs .modal-input-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1c1c1fc;
  border-radius: 8px;
  width: 100%;
  padding: 9px 0 9px 12px;
}

.modal-input-con span {
  cursor: pointer;
  margin-right: 12px;
}

.modal-input-con form {
  display: flex;
  align-items: center;
  width: 100%;
}

.modal-input-con textarea {
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: auto; /* Maintain vertical scrolling */
  max-height: 10rem;
  min-height: 1.3rem;
  width: 90%;
  resize: none;
}
.modal-input-con textarea:focus {
  border: none;
  outline: none;
}
.modal-input-con button {
  border: none;
  background-color: inherit;
}
.modal-input-con button span {
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 30px;
}

.comment-fetcher {
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-top: -8px;
  margin-right: 12px;
  padding: 0;
}

.comment-fetcher span {
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: underline;
}
